footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 32px;
}

.links {
    display: flex;
    flex-direction: column;
    
    a {
        text-decoration: none;
        color: gray;
    }
}

.logo-container {
    height: 80px;
}

.logo-container img {
    height: 100%;
    object-fit: contain;
}