<div class="about-me-container">
    <div class="picture-and-text">
        <div class="picture-container">
            <img src="assets/img/about-me.jpg">
        </div>
        <div class="text">
            <h2>About me</h2>
            <span>My name is Oliver Mänder. I am a 22 years old German front-end developer living at Lake Constance. My
                main skills are HTML, CSS, JavaScript and Angular. I built several projects in the last months and I am
                still making them better. I am currently getting more experience every day when I improve my coding
                skills. I am also interested in sports.</span>
        </div>
    </div>
    <div class="read-more">
        <div class="read-more-rel">
            <span>Want to learn more about my work?</span>
            <a href="#my-work"><img src="assets/img/read-more-arrow.svg"></a>
        </div>
    </div>
</div>