<div class="about-me-container">
    <div class="picture-and-text">
        <img src="assets/img/first-section-img.jpg">
        <div class="text">
            <h2>About me</h2>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam inventore voluptatum fugit ad iste
                a maxime est neque consequuntur, doloremque quo ratione eaque accusantium. Repellendus asperiores eum
                architecto veritatis. Doloribus?</span>
        </div>
    </div>
    <div class="read-more">
        <div class="read-more-rel">
            <span>Want to learn more about my work?</span>
            <a href="#my-work"><img src="assets/img/read-more-arrow.svg"></a>
        </div>
    </div>
</div>