<div class="contact-headline">
    <h2>Contact me</h2>
</div>
<div class="contact-text">
    <span>Get in touch with me by using the form below or by emailing me <a
            href="mailto:oliver.maender@gmail.com">oliver.maender@gmail.com</a></span>
</div>
<div class="contact-form-container">
    <form action="http://oliver-maender.developerakademie.com/olivermaender/send_mail.php" method="POST" class="contact-form">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input name="name" matInput required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input name="mail" matInput required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <textarea name="message" matInput matTextareaAutosize matAutosizeMinRows=10 required></textarea>
        </mat-form-field>
        <div class="submit-btn">
            <button type="submit" mat-flat-button color="primary">Send</button>
        </div>
    </form>
</div>