<div class="contact-headline">
    <h2>Contact me</h2>
</div>
<div class="contact-text">
    <span>Get in touch with me by using the form below or by emailing me <a
            href="mailto:abc@def.ghj">abc@def.com</a></span>
</div>
<div class="contact-form-container">
    <form class="contact-form">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input matInput required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <textarea matInput matTextareaAutosize matAutosizeMinRows=10 required></textarea>
        </mat-form-field>
        <div class="submit-btn">
            <button type="submit" mat-flat-button color="primary">Send</button>
        </div>
    </form>
</div>