.section-container {
    position: relative;
    height: calc(100vh - 80px);
    background-image: url("../../assets/img/first-section-img.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 64px;

    h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 64px;
    }

    span {
        font-size: 18px;
        width: 400px;
    }
}