<div class="section-container">
    <div class="image-container">
        <img src="assets/img/first-section.jpg">
    </div>
    <div class="text-container">
        <h2>I AM OLIVER MÄNDER</h2>
        <span>
            Hello, I am Oliver, a German front-end developer. I have been interested in technology since I was a little child.
        </span>
    </div>
    <div class="read-more">
        <div class="read-more-rel">
            <a href="#about-me"><img src="assets/img/read-more-arrow-white.svg"></a>
        </div>
    </div>
</div>