html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
}

* {
    font-family: "Karla", sans-serif !important;
}

mat-icon {
    font-family: 'Material Icons' !important;
}

.padding-left-and-right {
    padding-left: 128px;
    padding-right: 128px;

    @media (max-width: 1050px) {
        padding: initial;
    }
}

// .read-more {
//     position: absolute;
//     bottom: 0px;
//     left: 50%;
// }

// .read-more-rel {
//     position: relative;
//     left: -50%;
// }

// @media (max-width: 1050px) {
//     .read-more {
//         display: none;
//     }
// }
